<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>301924939818-btq62l3okmv6gse8vb7ji4g7rbekjh71.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.301924939818-btq62l3okmv6gse8vb7ji4g7rbekjh71</string>
	<key>API_KEY</key>
	<string>AIzaSyDQBUXbq_G8cY7zCk7G579kLCZojQGtDRQ</string>
	<key>GCM_SENDER_ID</key>
	<string>301924939818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thirantech.anvayaHackathon01</string>
	<key>PROJECT_ID</key>
	<string>anvayahackathon01</string>
	<key>STORAGE_BUCKET</key>
	<string>anvayahackathon01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:301924939818:ios:3d3ec5cb93dadbf4</string>
	<key>DATABASE_URL</key>
	<string>https://anvayahackathon01.firebaseio.com</string>
</dict>
</plist>